<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Homework</title>
        <meta name="description" content="Homework">
        <meta name="author" content="Dairis Rozenfelds">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block before_content %}{% endblock %}
        <div class="content" id="app">
            {% block content %}{% endblock %}
        </div>
        {% block after_content %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
